
/*Smanjiti veličinu fonta na celom projektu na 14px (html element)*/
body {
        font-size: 14px !important;
    }

/*Promeniti boju pozadine navbar-a: #b34848*/

 .blog-masthead {
  	background-color: #b34848 !important;
  }  

/*Zameniti boju svih naslova (ne samo naslova postova) bojom #b34848*/
  h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #b34848 !important;
}

/*Naslovi postova na hover treba da ostanu iste boje, samo će dobiti underline*/
h2 a{
	color: #b34848 !important;
}

.comment-form{
	padding:16px 0;
}


.comment-form input{
	width: 200px;
}
.submit-form{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background-color:pink;
}

